.header {
  max-width: 1184px;
  margin-bottom: 56px;
  padding: 28px 48px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: 'Inter', 'Arial', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #fff;
}

@media (max-width: 1279px) {
  .header {
    margin-bottom: 48px;
  }
}

@media (max-width: 1023px) {
  .header {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 767px) {
  .header {
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
  }
}
